<div id="headers">
  <div id="header_content">
    <div id="logo">
      <a href="/">
        <h1>CSE mall</h1>
      </a>
    </div>
    <div id="menu">
      <div class="left">
        <a href="/">
          <i class="fa fa-bars"></i><span>카테고리</span>
        </a>
      </div>
      <div class="right">
        <div>
          <a href="/">
            <span>로그인</span>
          </a>
          <span class="or">
            |
          </span>
        </div>
        <div>
          <a href="/">
            <span>회원가입</span>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div [mnFullpage]=options [mnFullpageOnLeave]=onLeave [mnFullpageAfterLoad]=afterLoad>
  <div id="section1" class="section welcome-section fp-section fp-table" data-anchor="slide1">
    <div class="fp-tableCell">
      <div class="photo_section">
        <div class="slideshow-container">
          <div>
            <div [ngClass]="{'mySlides': true, 'no_opacity': opacity[0]}">
              <img src="assets/images/male-fashion.jpg">
            </div>
            <div [ngClass]="{'mySlides': true, 'no_opacity': opacity[1]}">
              <img src="assets/images/men-fashion.jpg">
            </div>
            <div [ngClass]="{'mySlides': true, 'no_opacity': opacity[2]}">
              <img src="assets/images/woman.jpg">
            </div>
          </div>

          <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
          <a class="next" (click)="plusSlides(1)">&#10095;</a>
          <div class="slide-dot" style="text-align:center">
            <span [ngClass]="{'active': active[0]}" class="dot" (click)="currentSlide(1)"></span>
            <span [ngClass]="{'active': active[1]}" class="dot" (click)="currentSlide(2)"></span>
            <span [ngClass]="{'active': active[2]}" class="dot" (click)="currentSlide(3)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="section2" class="section welcome-section fp-section fp-table" data-anchor="slide2">
    <div class="fp-tableCell">
      <div class="card">
        <div class="big_item yellow">
            <img class="categories" src="assets/images/slide2/man.jpg">
        </div>
        <div class="big_item yellow">
        </div>
        <div class="big_item yellow">
        </div>
      </div>

    </div>
  </div>
  <div id="section3" class="section welcome-section fp-section fp-table" data-anchor="slide3">
    <div class="fp-tableCell">
      <div class="card">
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
        <div class="item blue">
        </div>
      </div>
    </div>
  </div>
</div>