h1{
   margin: 0;
}


#headers{
    font-family: "Apple SD Gothic Neo", sans-serif;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 10;
    top: 0;
    left: 0;
    border-top-style: solid;
    border-color: #6ad6ff;
    border-top-width: 2px;
    box-shadow: 0 2px 5px grey;

}
#header_content #menu{
    background-color: white;
    width: 600px;
    font-size: 16px;
    margin-left: 25px;
    vertical-align: top;
}
#header_content{
    margin: 0 230px auto;
    width: 900px;
    height: 60px;

}
#header_content #menu{
    height: 58px;
}
#header_content a{
    color: grey;
    height: 58px;
    padding: 15px 5px;
}
#header_content #menu .left a{
    display: block;
}
#header_content #logo a{
    display: block;
    padding: 7px 0;
}
#header_content #menu a span{
    margin: 0 15px;
}
#header_content #menu .left:hover #categories{
    visibility: visible;
}
#menu .left a{
    height: 58px;
}
#header_content #logo{
    height: 40px;
}

a, a:hover, a:link, a:active {
    color: black;
    text-decoration: none;
}
#header_content div{
    display: inline-block;
}
.left{
    float:left;
}
.right{
    float:right;
    height: 58px;
}
#menu .right div{
    height: 58px;
    padding: 15px 5px;
}
.section{
    background-color: #f8f8f8;
}
.or{
    color: grey;
}
.fp-tableCell{
    margin-top: 60px;
    height: 100%;
}
.card{
    min-width: 1370px;
    background-color: #f8f8f8;
}
.big_item{
    margin: 15px 45px;
    width: 350px;
    height: 450px;
    display: inline-block;
    overflow: hidden;
}
.item{
    margin: 15px 25px;
    width: 280px;
    height: 450px;
    display: inline-block;
    vertical-align: top;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}

.no_opacity{
    opacity: 0;
}
.mySlides {
    position: absolute;
    top : 0;
    left : 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    width: 100%;

}
.mySlides img{
    min-width: 100%;
    min-height: 300px;
    max-height: 650px;
}
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    width: 1370px;
    min-height: 650px;

}
.slideshow-container .welcome{
    position: absolute;
    text-align: center;
    font-size: 45px;
    color: black;
    left: 40%;
    top: 40%;
    z-index: 1;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slide-dot{
    position: absolute;
    bottom: 10%;
    left: 48%;
}
/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

span.active, .dot:hover {
    background-color: #4b8bff;
}



@-webkit-keyframes fade {
    from {opacity: 0.2}
    to {opacity: 0.5}
}

@keyframes fade {
    from {opacity: 0.2}
    to {opacity: 0.5}
}
.photo_section{
    overflow: hidden;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out

}
img {
    max-width: 100%;
    max-height: 100%;
}
.fit{
    display: block;
    width: 100%;
    height: 100%;
}
.categories{
    transform: scale(1);
    transition: opacity 0.3s, transform 0.3s;
}
.big_item:hover .categories{
    transform: scale(1.05);
    opacity: 0.9;
}
.cover{
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.counter_container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    opacity: 0.8;
    background-color: #ff8514;
    padding : 5px 15px;
    text-align: center;
}
.counter_container>div{
    font-family: Ubuntu;
    font-size: 1.25em;
    display: inline-block;
    color: white;
}
.counter_container>div:not(:last-child):after{
    display: inline-block;
    margin-top: 12px;
    margin-left: 5px;
    content: ":";
    color: white;
}
.rel{
    position: relative;
}
.categories_title{
    font-family: Ubuntu, SansSerif;
    font-weight: bold;
    color: white;
    font-size: 3em;
}
.mid{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
button{
    font-family: Ubuntu;
    border-radius: 0;
    border: none;
}
.categories_button{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 30px;
    padding: 15px 20px;
    background-color: skyblue;
    color: white;
}
.categories_button:hover{
    background-color: white;
    color: skyblue;
}
.main_title{
    position: relative;
    font-family: Ubuntu;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 30px;
}
.main_title:after{
    position: absolute;
    left: 48%;
    top: 50px;
    content: "";
    height: 5px;
    width: 68px;
    background-color: skyblue;
    display: block;
}
.item_info{
    height: 120px;
    text-align: center;
    font-family: Ubuntu;

}
.item_img{
    height: 330px;
}
.item_title{
    letter-spacing: 0.6px;
    margin-top: 15px;
    padding: 5px 15px;
    font-size: 1em;
    color: #262626;
    font-weight: bold;
}
.item_price{
    padding: 5px 15px;
    font-size: 2.5em;
}
.sale{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.new{
    position: absolute;
    padding: 2px 5px;
    top: 15px;
    right: 5px;
    width: 50px;
    height: 25px;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.original{
    margin-left: 5px;
    font-size: 0.5em;
    color: red;
    text-decoration: line-through;
}
.current{

}
#footer{
    min-width: 1350px;
    height: 500px;
    background-color: #f0fcff;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #adaeff;
}
.container{
    padding: 50px 10px;
    margin: 0 auto;
    vertical-align: top;
    min-width: 1200px;
}
#footer .container .two:not(:last-child):after{
    position: absolute;
    top: 0;
    right: 15px;
    content: " ";
    width: 1px;
    height: 100%;
    background-color: #4b8bff;
}
.two{
    float:left;
    width: 50%;
    vertical-align: top;
}
.three{
    float:left;
    width: 33.33%;
    vertical-align: top;
}
.customer{
    font-weight: bold;
    font-family: Ubuntu;
    margin-bottom: 20px;
}
.number{
    font-size: 2em;
}
.company_info{
    margin-top: 20px;
}
.underline{
    font-weight: bold;
    font-size: 1.15em;
    letter-spacing: 0.6px;
    color: black;
    margin-bottom: 10px;
}
.underline::after{
    margin-top: 15px;
    display: block;
    content: " ";
    width: 60px;
    height: 3px;
    background-color: #4b8bff;
}

#header_content #categories{
    display: block;
    position: absolute;
    left: 200px;
    width: 1000px;
    height: 300px;
    background-color: #f8f1ff;
    visibility: hidden;

}